/* colors */
/* font */
/* queries */
html
{
    font-family: 'Open Sans', sans-serif; 
    font-size: 100%;
}

p
{
    margin: 0;
}

.cap
{
    overflow: hidden; 

    width: 100%;
    height: 100%;
}
.cap body
{
    width: 100%;
    height: 100%;

    background-repeat: no-repeat; 
    -webkit-background-size: cover;
            background-size: cover;
}
.cap__logo
{
    position: absolute;
    z-index: 3; 
    top: 13%;
    left: 30.8%;

    width: 174px;
    height: 174px;
}
.cap__logo img
{
    position: absolute;
    right: 0;

    height: 342px;
}
.cap__overlay
{
    position: fixed;
    z-index: 2; 
    top: 0;
    left: 0;
}
.cap__info
{
    font-size: 20px; 

    position: absolute;
    z-index: 99;
    top: 62.3%;
    left: -webkit-calc(30.8% + 190px);
    left:         calc(30.8% + 190px);
}
.cap__info p
{
    line-height: 30px;
}
.cap__info__dev
{
    margin-bottom: 10px;
}
.cap__info__name
{
    margin-bottom: 10px;
}

.square
{
    width: 174px;
    height: 174px;

    opacity: 0;
}
.square-1
{
    -webkit-animation: blink 10s infinite ease;
            animation: blink 10s infinite ease; 

    x: 74.3%;
    y: 13%;
}
.square-2
{
    -webkit-animation: blink 10s infinite ease;
            animation: blink 10s infinite ease;
    -webkit-animation-delay: 2s;
            animation-delay: 2s; 

    x: 74.3%;
    y: 62.3%;
}
.square-3
{
    -webkit-animation: blink 10s infinite ease;
            animation: blink 10s infinite ease;
    -webkit-animation-delay: 3s;
            animation-delay: 3s; 

    x: 30.8%;
    y: 62.3%;
}

@media screen and (max-width: 75em)
{
    .cap__logo
    {
        position: absolute;
        z-index: 3; 
        top: 13%;
        left: 40.8%;

        width: 150px;
        height: 150px;
    }
    .cap__logo img
    {
        position: absolute;
        right: 0;

        height: 293px;
    }
    .cap__overlay
    {
        position: fixed;
        z-index: 2; 
        top: 0;
        left: 0;
    }
    .cap__info
    {
        top: 37.3%; 
        left: 41.8%;
    }
    .square
    {
        width: 150px;
        height: 150px;
    }
    .square-1
    {
        x: 74.3%;
        y: 13%;
    }
    .square-2
    {
        x: 74.3%;
        y: 52.3%;
    }
    .square-3
    {
        x: 40.8%;
        y: 52.3%;
    }
}

@media screen and (max-width: 48em)
{
    .cap__logo
    {
        top: 0;
        left: 0;

        width: auto;
        height: auto;
        margin-top: 100px;
        margin-right: 20px; 
        margin-left: 20px;
    }
    .cap__logo img
    {
        position: static;

        width: 100%;
        max-width: 300px;
        height: auto;
    }
    .cap__info
    {
        top: 350px; 
        left: 10%;
    }
    #mask
    {
        display: none;
    }
}

@-webkit-keyframes blink
{
    0%
    {
        opacity: 0;
    }
    25%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    75%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes blink
{
    0%
    {
        opacity: 0;
    }
    25%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    75%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
